{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tags %}
    {% meta_tags rubric %}
{% endblock %}

{% block content %}
    <main class="articles-page-block">
        {% comment %} Вывод информации по рубрике {% endcomment %}
        <div class="intro-desc-block">
            <h2>{{ rubric.title }}</h2>
            <p>{{ rubric.description }}</p>
        </div>

        {% comment %} Вывод карточек статей {% endcomment %}
        <div class="articles-grid">            
            {% for page in pages %}                    
                <div class="article-card">
                    {% image page.image min-300x300 format-webp-lossless as image_desktop %}
                    <picture>
                    <source media="(min-width:640px)"
                                srcset="{{ image_desktop.url }}"
                                width="{{ image_desktop.width }}"
                                height="{{ image_desktop.height }}">
                    {% image page.image height-400 format-webp-lossless alt=page.caption_image loading="lazy" %}
                    </picture>                
                    <h2>{{ page.title }}</h2>
                    <p>{{ page.short_description }}</p>
                    <a href="{% url 'article_detail' slug=page.slug %}" class="more-button">Читать статью</a>
                </div>
            {% endfor %}
        </div>

        {% comment %} Подключение пагинации по карточкам {% endcomment %}
        {% include 'includes/pagination.html' with page=pages %}

        {% comment %} SEO блок страницы {% endcomment %}
        <div class="footer-description">
            <h3>{{ rubric.seo_title_footer }}</h3>
            <p>{{ rubric.seo_description_footer }}</p>
        </div>
    </main>
{% endblock %}