{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tags %}
    {% meta_tags article %}
{% endblock %}

{% block content %}
    <main class="article-detail-page-block detail-page-block">
      <div class="article-detail-page detail-page">

        {% comment %} Изображение и заголовок {% endcomment %}
        <div class="article-detail-header">
          {% image article.image width-900 format-webp-lossless as image_desktop %}
          <picture>
          <source media="(min-width:640px)"
                      srcset="{{ image_desktop.url }}"
                      width="{{ image_desktop.width }}"
                      height="{{ image_desktop.height }}">
          {% image article.image width-400 format-webp-lossless alt=article.caption_image loading="lazy" %}
          </picture>
            <h2>{{ article.title }}</h2>
            <span class="public-date">Дата публикации: {{ article.latest_revision_created_at|date:"SHORT_DATE_FORMAT" }}</span> 
        </div>

        {% comment %} Описание статьи {% endcomment %}
        <div class="article-description">
            {{ article.description|richtext }}
        </div>
      </div>

      {% comment %} SEO блок страницы {% endcomment %}
      <div class="footer-description">
        <h3>{{ article.seo_title_footer }}</h3>
        <p>{{ article.seo_description_footer }}</p>
      </div>
    </main>
{% endblock %}