{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block content %}
<main> 
    {% for block_homepage in page.body %}
        {% for vacancy in block_homepage.value %}        
            {% if vacancy.block_type == "title" %}
                <h2>{{ vacancy.value }}</h2>
                <div class="vacancy-grid">
            {% endif %}
            
            {% if vacancy.block_type == "vacancies" %}
                <div class="vacancy-card">
                    {% image vacancy.value.vacancies.image width-400 alt=vacancy.value.vacancies.caption_image  %}
                    <div class="vacancy-card-content">
                        <h2>{{ vacancy.value.vacancies.title }}</h2>
                        {% for element in vacancy.value.vacancies.elements_vacancy.all %}
                            <p><strong>{{ element.element.name }}:</strong> {{ element.content }}</p>
                        {% endfor %}
                        <p>{{ vacancy.value.vacancies.short_description }}</p>
                        <a href="{% url 'vacancy_detail' slug=vacancy.value.vacancies.slug %}" class="more-button">Подробнее о вакансии</a>
                        <a href="{{ vacancy.value.vacancies.pp_url_button }}" class="respond-button">{{ vacancy.value.vacancies.pp_name_button }}</a>
                    </div>
                </div>
            {% endif %}

        {% endfor %}
        </div>
    {% endfor %}
    {% if page.url_button.slug %}
        <a href="{% url page.url_button.slug %}" class="all-job-btn">{{page.name_button}}</a>
    {% endif %}

    <div class="footer-description">
        <h3>{{ page.seo_title_footer }}</h3>
        <p>{{ page.seo_description_footer }}</p>
    </div> 
</main>
{% endblock content %}
