{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}
{% load static %}

{% block content %}
<main> 
    {% for block_homepage in page.body %}
        
        {% for material in block_homepage.value %}       
            {% if material.block_type == "title" %}
                <h2>{{ material.value }}</h2>
                <div class="material-grid">
            {% endif %}

            {% comment %} Блок вакансий {% endcomment %}
            {% if material.block_type == "vacancies" %}
                <div class="vacancy-card">
                    {% image material.value.vacancies.image width-400 format-webp-lossless as image_desktop %}
                    <picture>
                    <source media="(min-width:640px)"
                                srcset="{{ image_desktop.url }}"
                                width="{{ image_desktop.width }}"
                                height="{{ image_desktop.height }}">
                    {% image material.value.vacancies.image width-400 format-webp-lossless alt=material.value.vacancies.caption_image loading="lazy" %}
                    </picture>
                    <div class="vacancy-card-content">
                        <a href="{% url 'vacancy_detail' slug=material.value.vacancies.slug %}">
                            <h2>{{ material.value.vacancies.title }}</h2>
                        </a>                        

                        {% for element in material.value.vacancies.elements_material.all %}
                            <p><strong>{{ element.element.name }}:</strong> {{ element.content }}</p>
                        {% endfor %}

                        <p>{{ material.value.vacancies.short_description }}</p>

                        <a href="{% url 'vacancy_detail' slug=material.value.vacancies.slug %}" class="more-button">Подробнее о вакансии</a>
                        <a href="{{ material.value.vacancies.pp_url_button }}" class="respond-button">{{ material.value.vacancies.pp_name_button }}</a>
                    </div>
                </div>
            {% endif %}

            {% comment %} Блок статей {% endcomment %}
            {% if material.block_type == "articles" %}
                <div class="article-card">                    
                    <div>
                        {% image material.value.articles.image height-400 format-webp-lossless as image_desktop %}
                        <a href="{% url 'article_detail' slug=material.value.articles.slug %}">
                            <picture>
                            <source media="(min-width:640px)"
                                        srcset="{{ image_desktop.url }}"
                                        width="{{ image_desktop.width }}"
                                        height="{{ image_desktop.height }}">
                            {% image material.value.articles.image height-400 format-webp-lossless alt=material.value.articles.caption_image loading="lazy" %}
                            </picture>
                        </a>
                    </div>
                    
                    <div class="article-card-content">
                        <a href="{% url 'article_detail' slug=material.value.articles.slug %}">
                            <h2>{{ material.value.articles.title }}</h2>
                        </a>    
                        <p>{{ material.value.articles.short_description }}</p>
                        <a href="{% url 'article_detail' slug=material.value.articles.slug %}" class="more-button">Читать статью</a>
                    </div>
                </div>
            {% endif %}
            
            {% comment %} Вывод кнопки для раздела {% endcomment %}
            {% if material.block_type == "button" %}
            <div class="all-job-btn-block">
                <a href="{%url material.value.url.slug %}" class="all-job-btn">{{material.value.name}}</a>
            </div>                
            {% endif %}
        {% endfor %}
        </div>
    {% endfor %}
    

    {% comment %} SEO блок страницы {% endcomment %}
    <div class="footer-description">
        <h2>{{ page.seo_title_footer }}</h2>
        <p>{{ page.seo_description_footer }}</p>
    </div> 
</main>
{% endblock content %}
