{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tags %}
        {% block title %}
            <title>
                {% if vacancy.seo_title %}{{ vacancy.seo_title }}{% else %}{{ vacancy.title }}{% endif %}
                {% endblock %}
                {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            </title>
        {% endblock %}
    {% if vacancy %}
        {% meta_tags vacancy %}
    {% endif %}
{% endblock %}

{% block content %}
    <main class="detail-page-block">
        <div class="detail-page">
            {% comment %} Изображение и заголовок {% endcomment %}
            <div class="vacancy-detail-header">
                {% image vacancy.image width-900 format-webp-lossless as image_desktop %}
                <picture>
                <source media="(min-width:640px)"
                            srcset="{{ image_desktop.url }}"
                            width="{{ image_desktop.width }}"
                            height="{{ image_desktop.height }}">
                {% image vacancy.image width-400 format-webp-lossless alt=vacancy.caption_image loading="lazy" %}
                </picture>
                <div>
                    <h1>{{ vacancy.title }}</h1>
                    <div class="public-date">Дата размещения вакансии: {{ vacancy.latest_revision_created_at|date:"d.m.Y" }} {{ vacancy.latest_revision_created_at|date:"H:i" }}</div>
                </div>
            </div>            

            {% comment %} Список элементов вакансии {% endcomment %}
            <div class="vacancy-detail-info">
                {% for element in vacancy.elements_vacancy.all %}
                    <p><strong>{{ element.element.name }}:</strong> {{ element.content }}</p>
                {% endfor %}
            </div>

            {% comment %} Описание вакансии {% endcomment %}
            <div class="vacancy-description">
                <h3>{{ vacancy.title_description_block }}:</h3>
                {{ vacancy.description|richtext }}
            </div>

            {% comment %} Ссылка на вакансию {% endcomment %}
            <a href="{{ vacancy.pp_url_button }}" class="apply-button">{{ vacancy.pp_name_button }}</a>
        </div>

        {% comment %} SEO блок страницы {% endcomment %}
        <div class="footer-description">
            <h2>{{ vacancy.seo_title_footer }}</h2>
            <p>{{ vacancy.seo_description_footer }}</p>
        </div>
        
    </main>
{% endblock %}