{% extends "base.html" %}
{% load static wagtailcore_tags wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{% block meta_tags %}
    {% if rubric %}
        {% meta_tags rubric %}
    {% endif %}
{% endblock %}

{% block content %}
    <main class="vacancies-page-block">
        {% comment %} Вывод информации по рубрике {% endcomment %}
        <div class="intro-desc-block">
            <h2>{{ rubric.title }}</h2>
            <p>{{ rubric.description }}</p>
        </div>      

        {% comment %} Выод списка карточек вакансий {% endcomment %}
        <div class="material-grid">            
            {% for page in pages %}
                <div class="vacancy-card">
                    {% image page.image width-900 format-webp-lossless as image_desktop %}
                    <picture>
                    <source media="(min-width:640px)"
                                srcset="{{ image_desktop.url }}"
                                width="{{ image_desktop.width }}"
                                height="{{ image_desktop.height }}">
                    {% image page.image width-400 format-webp-lossless alt=page.caption_image loading="lazy" %}
                    </picture>
                    <div class="vacancy-card-content">
                        <h2>{{ page.title }}</h2>
                        {% for element in page.elements_vacancy.all %}
                            {% if element.element.name == 'Зарплата' %}
                                <p><strong>{{ element.element.name }}:</strong> {{ element.content }}</p>
                            {% endif %}
                        {% endfor %}
                        <div>{{page.short_description}}</div>                        
                        <a href="{% url 'vacancy_detail' slug=page.slug %}" class="more-button">Подробнее о вакансии</a>
                        <a href="{{ page.pp_url_button }}" class="respond-button">{{ page.pp_name_button }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% comment %} Подключение пагинации по карточкам {% endcomment %}
        {% include 'includes/pagination.html' with page=pages %}

        {% comment %} SEO блок страницы {% endcomment %}
        <div class="footer-description">
            <h3>{{ rubric.seo_title_footer }}</h3>
            <p>{{ rubric.seo_description_footer }}</p>
        </div>
    </main>
{% endblock content %}