PROJECT_PREFIX=vitrina_vacancies

HTTP_PORT=8000
DEBUG_PORT=3000

# Unisender data
UNISENDER_API_KEY=
LIST_SUBSCRIBE=3,4

# Data for PostgreSQL
DB_NAME=vitrina_vacancies
DB_USER=root
DB_PASSWORD=root
DB_HOST=vv_db
DB_PORT=5432

# Data permissions
USER_ID=501
GROUP_ID=701

PYTHONUNBUFFERED=1

# Django data
SECRET_KEY=django_secret_key
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0 [::1]
CORS_ALLOWED_HOST=http://site1 http://site2 http://site3
DJANGO_SETTINGS_MODULE=backend.settings.local
IS_SHOW_TOOLBAR=True
SITE_NAME=Vitrina vacancies
ADMIN_URL=http://localhost:8000