<footer>
    <nav>
        <ul>
            <li><a href="index.html">Главная</a></li>
            <li><a href="articles.html">Статьи</a></li>
            <li><a href="frontend-detail.html">Вакансии</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </nav>
    <p>&copy; 2024 Витрина высокоплачиваемых вакансий. Все права защищены.</p>
    <p class="other-link">
        <a href="#">Политика конфидициальности</a>
        <a href="#">Карта сайта</a>
    </p>
</footer>