{% load wagtailcore_tags wagtailimages_tags %}

<footer>
    {% if kolontituls.footer %}
        <div class="logo">
            <a href="{% url 'home' %}">{% image kolontituls.logo width-170 alt=kolontituls.caption_logo %}</a>
        </div>
        <div>
            {% for footer in kolontituls.footer %} 
                {% if footer.value.menu %}
                    <nav>
                        <ul>
                            {% for menu in footer.value.menu %}
                                <li><a href="{% url menu.value.link.slug %}">{{ menu.value.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% else %}
                    НЕОБХОДИМО ДОБАВИТЬ ПОЛЬЗОВАТЕЛЬСКОЕ МЕНЮ!!!
                {% endif %}
                <p>{{year_page}} © {{footer.value.copyright}}</p>
                <p class="other-link">
                    {% if kolontituls.privacy_policy_document %}
                        <a href="{{kolontituls.privacy_policy_document.url}}" target="__blank">Политика конфиденциальности</a>
                    {% endif %}

                    {% if kolontituls.policy_personal_document %}
                        <a href="{{kolontituls.policy_personal_document.url}}" target="__blank">Политика обработки персональных данных</a>
                    {% endif %}

                    {% if kolontituls.cookie_document %}
                        <a href="{{kolontituls.cookie_document.url}}" target="__blank">Правила обработки cookie</a>
                    {% endif %}
                    

                    <a href="{% url 'sitemap' %}">Карта сайта</a>
                </p>
            {% endfor %}
        </div>
        
    {% else %}
        <p>Необходимо заполнить информацию для подвала сайта!!!</p>
    {% endif %}

</footer>