{% load wagtailcore_tags wagtailimages_tags %}

<footer>
    {% if kolontituls.footer %}
        <div class="logo">
            <a href="{% url 'home' %}">{% image kolontituls.logo width-170 alt=kolontituls.caption_logo %}</a>
        </div>
        <div>
            {% for footer in kolontituls.footer %} 
                {% if footer.value.menu %}
                    <nav>
                        <ul>
                            {% for menu in footer.value.menu %}
                                <li><a href="{% url menu.value.link.slug %}">{{ menu.value.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </nav>
                {% else %}
                    НЕОБХОДИМО ДОБАВИТЬ ПОЛЬЗОВАТЕЛЬСКОЕ МЕНЮ!!!
                {% endif %}
                <p>{{year_page}} © {{footer.value.copyright}}</p>
                <p class="other-link">                    
                    {% for policy in footer.value.policy_block %}
                        <a target="_blank" href="{{policy.value.document_block.url}}">{{policy.value.name_block}}</a>
                    {% endfor %}

                    <a href="#">{{footer.value.sitemap}}</a>
                </p>
            {% endfor %}
        </div>
        
    {% else %}
        <p>Необходимо заполнить информацию для подвала сайта!!!</p>
    {% endif %}

</footer>