# Unisender data
UNISENDER_API_KEY=
LIST_SUBSCRIBE=

# Data for PostgreSQL
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

PYTHONUNBUFFERED=1
PYTHONDONTWRITEBYTECODE=1

# Django data
SECRET_KEY=django_secret_key
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 0.0.0.0 [::1]
CORS_ALLOWED_HOST=http://site1 http://site2 http://site3
CSRF_ORIGIN_HOST=http://site1 http://site2 http://site3
DJANGO_SETTINGS_MODULE=backend.settings.production
IS_SHOW_TOOLBAR=False
SITE_NAME=Vitrina vacancies
ADMIN_URL=http://localhost:8000
IS_DEBUG=False