{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

{# Meta tags page #}
{% block meta_tags %}
    {% block title %}
    <title>Страница не найдена</title>
    {% endblock %}
{% endblock %}

{% block content %}
<div class="error-page">
    <div class="error-page__img">
        <img src="{% static 'images/404-error-page.png' %}" alt="">
    </div>
    <h2>Мы не нашли такую страницу на сайте. <br> <strong>Вернитесь назад</strong> и попробуйте снова.</h2>
</div>

{% endblock %}
