{% load static wagtailcore_tags wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/backend.css' %}">

    {# Add favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">

    <title>
        {% wagtail_site as current_site %}
        Произошла критическая ошибка на сайте
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
    </title>

</head>

<body>
    <div class="error-page">
        <div class="error-page__img">
            <img src="{% static 'images/500-error-page.webp' %}" alt="">
        </div>
        <h2>Произошла внутреняя ошибка сервера. Приносим свои извинения. <br> Мы уже работает над устранением ошибки. Попробуйте зайти позже.</h2>
    </div>	
</body>

</html>


