{% load static wagtailcore_tags wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/backend.css' %}">

    {# Add favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">
    {# Meta tags page #}
    {% block meta_tags %}
      {% block title %}
          <title>
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
          </title>
      {% endblock %}
      
      {% if page %}
        {% meta_tags page %}
      {% endif %}
          
    {% endblock %}

    {% if page.seo_keyword %}
        <meta name="keywords" content="{{ page.seo_keyword }}">
    {% endif %}

    {# Подключение Яндекс вебмастер #}
    {% if seo.yandex_webmaster %}
      <meta name="yandex-verification" content="{{seo.yandex_webmaster}}" />
    {% endif %}
      
    {# Подключение Google вебмастер #}
    {% if seo.google_webmaster %}
      <meta name="google-site-verification" content="{{seo.google_webmaster}}" />
    {% endif %}

    {# Подключение Google Analytics #}
    {% if seo.google_metric %}
      <!-- Google tag (gtag.js) -->
      <script async src="https://www.googletagmanager.com/gtag/js?id={{seo.google_metric}}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{seo.google_metric}}');
      </script>
    {% endif %}


    {# Подключение Яндекс метрики #}
    {% if seo.yandex_metric %}
      <!-- Yandex.Metrika counter -->
      <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym({{seo.yandex_metric}}, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
      </script>
      <noscript><div><img src="https://mc.yandex.ru/watch/{{seo.yandex_metric}}" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->      
    {% endif %}
</head>

<body>

    {% include 'includes/header.html' %}

    <div class="second-block">
        <div class="color-cover-main-block"></div>
        {% image main_banner.cover original as cover_img %}
        <div class="cover-main-block" style="background-image: url('{{ cover_img.url }}')"></div>
        <div class="text-main-block">
          <div class="intro">
            {{main_banner.header|richtext}}
          </div>
          <div class="subscribe-form">
            <form action="{% url 'subscribe' %}" method="post">
              {% csrf_token %}
              {{form.name}}
              {{form.email}}
              <input id="submit_btn" type="submit" value="Подписаться">
              <div id="agreement-field">{{form.agreement}} Я <a href="{{kolontituls.agreement_document.url}}" target="__blank">согласен на обработку персональных данных</a></div>
            </form>
          </div>
        </div>
      </div>

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html' %}
	
    <div class="cookie_notice">
      Наш сайт использует cookie. Более подробная информация находится в <a href="{{kolontituls.privacy_policy_document.url}}" target="__blank"><strong>политике конфиденциальности</strong></a> и <a href="{{kolontituls.cookie_document.url}}" target="__blank"><strong>правилах обработки cookie</strong></a>. Продолжая использовать наш сайт, вы автоматически соглашаетесь с использованием данных технологий.
      <div>
          <a class="cookie_btn" id="cookie_close" href="#close">Хорошо</a>
      </div>
    </div>
    <script src="{% static 'js/handle-cookies.js' %}"></script>
</body>

</html>
