{% load static wagtailcore_tags wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags wagtailmetadata_tags %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/backend.css' %}">

    {# Add favicon #}
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/favicon/site.webmanifest' %}">

    {# Meta tags page #}
    {% block meta_tags %}
      {% block title %}
          <title>
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
          </title>
        {% endblock %}
      {% meta_tags page %}
    {% endblock %}

    {% if page.seo_keyword %}
        <meta name="keywords" content="{{ page.seo_keyword }}">
    {% endif %}

    {# Подключение Яндекс вебмастер #}
    {% if seo.yandex_webmaster %}
      <meta name="yandex-verification" content="{{seo.yandex_webmaster}}" />
    {% endif %}
      
    {# Подключение Google вебмастер #}
    {% if seo.google_webmaster %}
      <meta name="google-site-verification" content="{{seo.google_webmaster}}" />
    {% endif %}

    {% comment %} 
      После кодов счетчиков и вебмастер кабинетов можно разнести эти параметры
      {{seo.yandex_metric}}
      {{seo.google_metric}}
     {% endcomment %}
</head>

<body>

    {% include 'includes/header.html' %}

    <div class="second-block">
        <div class="color-cover-main-block"></div>
        {% image main_banner.cover original as cover_img %}
        <div class="cover-main-block" style="background-image: url('{{ cover_img.url }}')"></div>
        <div class="text-main-block">
          <div class="intro">
            {{main_banner.header|richtext}}
          </div>
          <div class="subscribe-form">
            {% for form in main_banner.form %}
              <input type="text" placeholder="{{form.value.name_input}}" />
              <input type="email" placeholder="{{form.value.email_input}}" />
              <button>{{form.value.button}}</button>
            {% endfor %}
          </div>
        </div>
      </div>

    {% block content %}
    {% endblock %}

    {% include 'includes/footer.html' %}

</body>

</html>
